<div class="row rem1 no-gutters">
  <div class="col-10">
    <h2>Product Entry</h2>
  </div>
  <div class="col-2 text-right">
    <span
      class="btn btn-outline-danger"
      style="text-align: right; margin-left: auto;"
      (click)="onClose()"
      ><i class="fa fa-times"></i
    ></span>
  </div>
</div>

<form (ngSubmit)="onSubmit(AddProductForm.value)" [formGroup]="AddProductForm">
  <input type="hidden" formControlName="id" />
  <div class="card border-success">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="input-group" title="Name">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-tag"></i>
              </div>
            </div>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  AddProductForm.get('name').invalid &&
                  AddProductForm.get('name').touched
              }"
              placeholder="Product Name"
              formControlName="name"
              required
            />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="input-group" title="Unit">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-neuter"></i>
              </div>
            </div>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  AddProductForm.get('unit').invalid &&
                  AddProductForm.get('unit').touched
              }"
              placeholder="Product Unit"
              formControlName="unit"
              required
            />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="input-group" title="Description">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-paragraph"></i>
              </div>
            </div>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  AddProductForm.get('description').invalid &&
                  AddProductForm.get('description').touched
              }"
              placeholder="Product Description"
              formControlName="description"
              required
            />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="input-group" title="Price">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-dollar"></i>
              </div>
            </div>
            <input
              type="number"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  AddProductForm.get('price').invalid &&
                  AddProductForm.get('price').touched
              }"
              placeholder="Product Price"
              formControlName="price"
              required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="text-right">
            <button
              type="submit"
              [disabled]="AddProductForm.invalid"
              class="btn btn-lg btn-success"
            >
              Save
            </button>
          </div>
        </div>
        <div class="col-6">
          <div class="text-left">
            <button
              type="button"
              [disabled]="!AddProductForm.dirty"
              class="btn btn-lg btn-danger"
              (click)="clearForm()"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
      <div
        *ngIf="
          (AddProductForm.get('name').touched &&
            AddProductForm.get('name').invalid) ||
          (AddProductForm.get('unit').touched &&
            AddProductForm.get('unit').invalid) ||
          (AddProductForm.get('price').touched &&
            AddProductForm.get('price').invalid) ||
          (AddProductForm.get('description').touched &&
            AddProductForm.get('description').invalid)
        "
        class="text-danger"
      >
        * Fields are required and can not start with a WHITE SPACE.
      </div>
    </div>
  </div>
</form>
