/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.description {
  /* overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  width: 100%; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* .description::after {
  content: "...";
} */

.right {
  float: right;
}

/* notification */
snack-bar-container.success {
  background-color: #5cb85c;
  color: #fff;
}

snack-bar-container.danger {
  background-color: red;
  color: #fff;
}

snack-bar-container.warning {
  background-color: #ff9966;
  color: #fff;
}
snack-bar-container.notification simple-snack-bar {
  font-size: 18px !important;
  font-weight: bold;
}
